*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
}
/* header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #69d2e7;
    color: #fff;
    flex-wrap: wrap;
}
.col-md-6 img {
    border-radius: 20%;
}

.logo {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.logo img {
    width: 5rem;
}

.nav {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.nav img {
    height: 2rem;
}

.links {
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
}

section {
    padding: 2rem;
}
h2 {
    text-align: center;
    color: #000000;
}


.container-card {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    margin-top: 2rem;
}
.container-serv{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    margin-top: 2rem;
}

.card {
    background-color: #d11c1c;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: justify;
    width: 250px;
    min-height: 350px; /* Define uma altura mínima para os cards */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card h3, .card p {
    color: #000;
    margin-bottom: 0.5rem;
    font-size: 1rem; /* Define um tamanho de fonte consistente */
}

.card img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 1rem; /* Adiciona espaçamento entre a imagem e o texto */
}

.btn-servicos {
    background-color: #07eeffd0;
    color: black;
    padding: 0.5rem 1.5rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin-top: 1rem; /* Adiciona espaçamento entre o botão e o conteúdo acima */
    text-align: center; /* Centraliza o texto dentro do botão */
    display: block; /* Garante que o botão ocupe toda a largura disponível */
    text-decoration: none; /* Remove a linha embaixo do botão */
}

/* SESSÃO DE PRODUTOS */
.produto {
    background-color: #f5f4b7;
    color: #000000;
    padding: 2rem;
}

/* SESSÃO GALERIA */
.galeria {
    background-color: #acffd8;
    padding: 2rem;
    text-align: center;
}

.galeria h2 {
    color: #fff;
    align-items: center;
}
.img-top, .img-bottom {
    display: flex;
    justify-content: center; /* Centraliza as imagens horizontalmente */
    align-items: center; /* Centraliza as imagens verticalmente */
    gap: 1rem;
    margin-top: 2rem;
}
.img-container {
    display: flex;
    justify-content: center; /* Centraliza as imagens horizontalmente */
    align-items: center; /* Centraliza as imagens verticalmente */
    flex-direction: column;
}

.img-container img {
    width: 60%;
    height: 18rem;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
} 

/* Fazer daqui para cima!!! */

/* Galeria */
.gallery{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    background-color: #d0eff3;
}

.gallery-top {
    display: flex;
    justify-content: center;
    gap: 200px
}

.gallery-low {
    display: flex;
    justify-content: center;
    gap: 200px;
}

.gallery-low img {
    display: flex;
    width: 350px;
    height: 200px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 60px;
}

.gallery-top img {
    display: flex;
    width: 350px;
    height: 200px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 60px;
}



.gallery h1 {
    text-align: center;
    margin: 20px 0;
    font-size: 2rem;
    color: black;
}

/* Carrossel */
.container-mom-carousel {
    justify-content: center;
    align-items: center;
    height: 39vh;
    background-color: #d9dcdf;
}

.container-mom-carousel h1 {
    text-align: center;
    margin: 20px 0;
    font-size: 2rem;
    color: black;
}

.carousel-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin:auto;
}

.carousel-item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.testimonial-text {
    font-size: 18px;
    font-style: italic;
    color: #333;
}

.carousel-control-prev,
.carousel-control-next {
    width: 50px;
    border-radius: 5px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: ivert(1);
}

/* Contato */
.container {
    max-width: 600px;
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    
    margin-top: 50px;
}

.btn-custom {
    background-color: #9adde6;
    border: none;
    color: black;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 10px;
}

.btn-custom:hover {
    background-color: #92d6df;
}

/* Footer */
.footer {
    background-color: #333333;
    margin-top: 10px;
    padding: 10px px;
    width: 100%;
}
.footer p {
    color: #ffffff;
    text-align: center;
}
